* {
  font-size: 14px;
  /* color: #cdd6f4; */
  /* color: #d5c6e0; */
  color: #fffff0;
  font-weight: 500;
  /* font-family: "FiraCode Nerd Font"; */
  font-family: "Nothing Font (5x7)";
  margin: 0;
  padding: 0;
}
.yasb-bar {
  padding-left: 5;
  padding-right: 5;
  padding-bottom: 0;
  margin-top: 2;
}
.widget {
  /* background-color: #10151d; */
  /* background-color: #f00000; */
  background-color: #09061b;
  margin: 0;
  padding: 0 8px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
.widget .label {
  padding: 1px 2px 1px 2px;
}
.widget .label.alt {
  padding: 1px 8px 1px 8px;
}
.active-window-widget {
  border-radius: 18px;
  margin-left: 8px;
}
.container-left,
.container-center,
.container-right {
  margin: 0;
  padding: 0;
}

.clock-widget {
  /* border-top-left-radius: 18px; */
  /* border-bottom-left-radius: 18px; */
  background-color: #09061b;
  /* background-color: #1a314e; */
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;

}

/* .cava-widget { */
/*   background-color: #09061b; */
/*   border-top-left-radius: 5px; */
/*   border-top-right-radius: 5px; */
/*   border-bottom-left-radius: 5px; */
/*   border-bottom-right-radius: 5px; */
/* } */

.apps-widget {
  padding: 0 2px;
  /* border-top-right-radius: 18px; */
  /* border-bottom-right-radius: 18px; */
}
.komorebi-active-layout {
  padding: 0 4px 0 0;
}

.komorebi-active-layout .label {
  font-weight: 600;
  padding: 2px 0 0 0;
}
.wifi-widget {
  padding: 0 4px 0 4px;
  border-top-left-radius: 18px;
  border-bottom-left-radius: 18px;
}

.system-widget {
  background-color: #09061b;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.apps-widget .widget-container,
.komorebi-workspaces .widget-container,
.wifi-widget .widget-container,
.komorebi-active-layout .widget-container {
  font-size: 14px;
  /* background-color: #ffffff; */
  padding-top: 1px;
  padding-bottom: 1px;
}
.apps-widget .widget-container {
  margin-right: 2px;
}
.komorebi-workspaces .ws-btn {
  /* border-radius-top-right: 5px; */
  font-size: 15px;
  margin: 0 4px 0 4px;
  /* color: #5c0f1b; */
  /* color: #d5c6e0; */
  color: #2596be;
  border: none;
}
.komorebi-workspaces .ws-btn.populated {
  color: #d5c6e0;
  /* color: #59231a; */
  color: #fffff0;

  /* color: #9f77b3; */
}
.komorebi-workspaces .ws-btn:hover,
.komorebi-workspaces .ws-btn.populated:hover,
.komorebi-workspaces .ws-btn.active {
  /* color: #5c0f1b; */
  /* color: #adff1c; */
  color: #2596be;
  background-color: transparent;
}
.komorebi-workspaces .float-override {
  color: #0eb986;
  font-size: 14px;
  padding: 0 0 0 8px;
}
.apps-widget .label {
  font-size: 14px;
  padding: 0 2px;
}
.apps-widget .label:hover {
  color: #fff;
}
/*POWER MENU WIDGET*/
/* Uptime text */
.uptime {
  font-size: 14px;
  margin-bottom: 10px;
  color: #ffffff;
  font-weight: 600;
  font-family: "Segoe UI";
}
.power-menu-widget .label {
  color: #f38ba8;
  font-size: 13px;
}
.power-menu-popup {
  background-color: rgba(24, 24, 37, 0.9);
  border-radius: 12px;
  border: 4px solid rgb(41, 42, 58);
}
.power-menu-popup .button {
  padding: 0;
  width: 240px;
  height: 120px;
  border-radius: 8px;
  background-color: rgb(41, 42, 58);
  font-family: "Segoe UI";
  color: white;
  border: 1px solid rgba(255, 255, 255, 0.1);
  margin: 8px;
}
.power-menu-popup .button.hover {
  background-color: rgb(55, 56, 75);
  border: 1px solid rgb(55, 56, 75);
}
.power-menu-popup .button .label {
  margin-bottom: 8px;
  font-size: 16px;
  font-weight: 600;
  color: rgba(255, 255, 255, 0.95);
  font-family: "Segoe UI";
}
.power-menu-popup .button .icon {
  font-size: 48px;
  padding-top: 8px;
  color: rgba(255, 255, 255, 0.25);
}
.power-menu-popup .button.cancel .icon {
  color: rgba(243, 139, 168, 0.55);
}
.power-menu-popup .button.cancel .label {
  color: rgba(243, 139, 168, 0.95);
}
.power-menu-popup .button.shutdown .icon {
  color: rgba(137, 180, 250, 0.55);
}
.power-menu-popup .button.shutdown .label {
  color: rgba(137, 180, 250, 0.95);
}

/* ICONS */
.icon {
  font-size: 16px;
}
.volume-widget .icon {
  color: #89b4fa;
  margin: 1px 2px 0 0;
}

.volume-widget {
  background-color: #09061b;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.cpu-widget .icon,
.memory-widget .icon {
  font-size: 14px;
  color: #cba6f7;
  margin: 0 2px 1px 0;
}

.memory-widget {
  background-color: #09061b;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.memory-widget .icon {
  color: #a6c9f7;
}
.wifi-widget .icon {
  color: #43d8d8;
  padding: 0 7px;
  margin: 0;
}

/* Memory widget usage colors. Uncomment if you want to color of the battery widget icon to change based on status */

/*
.memory-widget.status-low .icon {
  color: #a6e3a1;
}
.memory-widget.status-medium .icon {
  color: #f9e2af;
}
.memory-widget.status-high .icon {
  color: #fab387;
}
.memory-widget.status-critical .icon {
  color: #f38ba8;
}
*/

/* Battery widget value colors. Uncomment if you want to color of the battery widget icon to change based on status */

/*
.battery-widget.status-charging .icon {
  color: #74c7ec;
}
.battery-widget.status-full .icon {
  color: #94e2d5;
}
.battery-widget.status-high .icon {
  color: #a6e3a1;
}
.battery-widget.status-medium .icon {
  color: #f9e2af;
}
.battery-widget.status-low .icon {
  color: #fab387;
}
.battery-widget.status-critical .icon {
  color: #f38ba8;
}
*/
.battery-widget {
  background-color: #09061b;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

/* WEATHER WIDGET */
.weather-widget .icon {
  font-size: 16px;
  margin: 0 2px 1px 0;
}
.weather-widget .icon.sunnyDay {
  color: rgb(221, 210, 107);
}
.weather-widget .icon.clearNight {
  color: rgb(107, 189, 221);
  font-size: 22px;
  margin: 1px 2px 0px 0;
}
/* 
.weather-widget .icon.cloudyDay {}
.weather-widget .icon.cloudyNight {} 
.weather-widget .icon.rainyDay {} 
.weather-widget .icon.rainyNight {} 
.weather-widget .icon.snowyIcyDay {} 
.weather-widget .icon.snowyIcyNight {} 
.weather-widget .icon.blizzardDay {} 
.weather-widget .icon.default {}
*/

/* MEDIA WIDGET */
.media-widget {
  padding: 0;
  padding-left: 2px;
  margin: 0;
  border-radius: 16px
  margin-right: 8px;
}
.media-widget .label {
  background-color: rgba(0, 0, 0, 0);
}
.media-widget .btn {
  color: #acb2c9;
  padding: 0 3px;
  margin: 4px 0;
  font-family: Segoe Fluent Icons;
}
.media-widget .btn:hover {
  color: #89b4fa;
}
.media-widget .btn.play {
  background-color: #313244;
  border-radius: 14px;
  font-size: 16px;
}
.media-widget .btn.disabled:hover,
.media-widget .btn.disabled {
  color: #4e525c;
  font-size: 12px;
  background-color: rgba(0, 0, 0, 0);
}

/* GITHUB WIDGET */
.github-widget {
  padding: 0 4px;
}
.github-widget .icon {
  font-size: 14px;
  color: #cdd6f4;
}
.github-widget .icon.new-notification {
  color: #f38ba8;
}
